*{
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}
header{
    padding: 2rem;
    background-color: rgb(250,127,27);
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Raleway, serif;
}

.div-1{
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem;
    gap: 1rem;
    background: #c6d0d0;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
}
.btn-1, .btn-2, .btn-3, .btn-4, .btn-5, .btn-6, .btn-7, .btn-8, .btn-9{
    position: center;
    background: darkslategray;
    color: white;
    width: 100%;
    height: 100%;
    margin:0;
}
.div-2{
    display: grid;
    grid-template-columns: 5rem;
    grid-template-rows: 5rem;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #c6d0d0;
}
.btn-11{
    position: center;
    background: darkslategray;
    color: white;
    width: 100%;
    height: 100%;
    margin:0;
    align-self: center;
}

.aside{
    display: grid;
    background: #c6d0d0;
    justify-content: center;
}
main{
    margin: 0;
    padding: 0;
}